<!doctype html>
<html>
<head>
    <title>{% block title_tag %}Hello from Flask{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/static/example-base.css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id='super-container'>
        <div class='header'>
            <h1 class='page-title'>Consumer</h1>
        </div>

        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                {% for category, message in msgs %}
                    <div class='{{ category }}'>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div id='content'>
            <h2 class='sub-title'>{% block title %} {% endblock %}</h2>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
