<!doctype html>
<html>
<head>
    <title>Hello from Flask</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/static/example-base.css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id='super-container'>
        <div class='header'>
            <h1 class='page-title'>Consumer</h1>
        </div>

        {% if get_flashed_messages()|length > 0 %}
            {% for mesg in get_flashed_messages() %}
                <div class='flash'>{{ mesg }}</div>
            {% endfor %}
        {% endif %}

        <div id='content'>
            <h2 class='sub-title'>{% block title %} {% endblock %}</h2>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
