body {
    font-family: 'Roboto', serif;
    background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

#super-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

.page-title {
    padding: 20px;
    margin-top: 0;
    color: white;
    background-color: #F39639;
}

.flash {
    width: 70%;
    margin: auto;
    border: 1px solid red;
    border-radius: 3px;
    background-color: pink;
    text-align: center;
}

#content {
    padding: 20px;
}
