<!doctype html>
<html>
<head>
    <title>Hello from Flask</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/static/base.css'>
    <link rel='stylesheet' type='text/css' href='/static/providers.css'>
</head>
<body>
    <div id='super-container'>
        <h1 class='page-title'>{% block title %} {% endblock %}</h1>

        {% if get_flashed_messages()|length > 0 %}
            {% for mesg in get_flashed_messages() %}
                <div class='flash'>{{ mesg }}</div>
            {% endfor %}
        {% endif %}

        <div id='content'>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
