<!doctype html>
<head>
    <title>Hello from Flask</title>
    <link rel='stylesheet' type='text/css' href='/static/base.css'>
    <link rel='stylesheet' type='text/css' href='/static/providers.css'>
</head>
<body>
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Hello!</h1>
    {% endif %}

    {% if get_flashed_messages()|length > 0 %}
        {% for mesg in get_flashed_messages() %}
            <div class='flash'>{{ mesg }}</div>
        {% endfor %}
    {% endif %}
    <div>
        <a href='/login/github/'>Log in with GitHub</a>
    </div>
    <div class='provider-container'>
        {% for sp in providers %}
            <div class='provider'>
                <div class='provider-name'>{{ sp.sp_class_name }}</div>
                <div class='provider-remove'><a href='/user/providers/remove/{{ sp.id }}'>Remove</a></div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
