{% extends "base.html" %}

{% block content %}
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Hello!</h1>
    {% endif %}

    <div>
        <a href="{{ url_for('login_options') }}">Add another account</a>
    </div>
    <div class='provider-container'>
        {% for sp in providers %}
            <div class='provider'>
                <div class='provider-name'>{{ sp.sp_class_name }}</div>
                <div class='provider-remove'><a href='/user/providers/remove/{{ sp.id }}'>Remove</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
